<div class="container-fluid">
  <div class="form-container">   
    <div class="form-container-fluid">
      <div class="contenedor-principal">

        <!-- Mostrar datos del usuario -->
        <div *ngIf="datosUsuario">
          <div class="perfil-usuario">
            <img *ngIf="datosUsuario.usuario.avatarRuta" [src]="datosUsuario.usuario.avatarRuta" alt="avatar" class="avatar-img" />
            <h2>{{ datosUsuario.usuario.nick }}</h2>
            <p><strong>Nombre:</strong> {{ datosUsuario.usuario.nombre }}</p>
            <p><strong>Apellido:</strong> {{ datosUsuario.usuario.apellido }}</p>
            <p><strong>Email:</strong> {{ datosUsuario.usuario.email }}</p>
          </div>

          <hr>

          <!-- Mostrar posts del usuario -->
          <div *ngIf="datosUsuario.posts.length > 0; else sinPosts">
            <div *ngFor="let post of datosUsuario.posts"
                class="post-wrapper"
                [ngStyle]="{ 'background-image': 'url(' + post.fondoRuta + ')' }">
              <div class="post-content">
                <h2>{{ post.autor }}</h2>
                <div *ngIf="postEnEdicion === post.id; else mostrarContenido">
                    <textarea [(ngModel)]="contenidoEditado"
                                class="form-control mb-2"
                                rows="3"
                                placeholder="Editar contenido..."></textarea>

                    <!-- Checkbox -->
                      <label>
                        <input type="checkbox" [(ngModel)]="usarRecordatorio" class="form-check-input" />
                        ¿Desea Agregar o editar recordatorio?
                      </label>

                      <!-- Input solo si se activa -->
                      <div *ngIf="usarRecordatorio">
                        <label for="recordatorio">Fecha de recordatorio:</label>
                        <input 
                          type="datetime-local" 
                          class="form-control mb-2" 
                          id="recordatorio" 
                          [(ngModel)]="fechaEditada"
                          [required]="usarRecordatorio" />
                      </div>
                    
                    <label for="estado" class="form-label">Visibilidad</label>
                      <select id="estado" class="form-select mb-2" [(ngModel)]="estadoEditado">
                        <option [ngValue]="false">Público</option>
                        <option [ngValue]="true">Privado</option>
                      </select>
                    <button class="btn btn-success btn-sm me-2" (click)="guardarEdicion(post.id)">💾 Guardar</button>
                    <button class="btn btn-secondary btn-sm" (click)="cancelarEdicion()">Cancelar</button>
                </div>

                    <ng-template #mostrarContenido>
                    <p>{{ post.contenido }}</p>
                   <p class="meta"><strong>Publicado:</strong> {{ post.fechaPost | date:'short' }}</p>
                    </ng-template> —
                  <button class="btn btn-outline-success btn-sm me-1"
                          (click)="darLike(post.id)">👍</button> {{ post.likes }}
                  <button class="btn btn-outline-danger btn-sm ms-2"
                          (click)="darDislike(post.id)">👎</button> {{ post.dislikes }}
                  <ng-container *ngIf="datosUsuario.usuario.nick === sessionService.getUsuario()">
                    <p class="text-muted small">
                        Estado: {{ post.privado ? 'Privado 🔒' : 'Público 🌍' }}
                    </p>
                   <div *ngIf="post.fechaRecordatorio; else sinRecordatorio">
                      <p class="meta"><strong>Recordatorio:</strong> {{ post.fechaRecordatorio | date:'short' }}</p>
                   </div>
                    <ng-template #sinRecordatorio>
                      <p class="meta text-muted"><em>Este post no contiene recordatorio.</em></p>
                    </ng-template>
                   <button *ngIf="postEnEdicion !== post.id"
                        class="btn btn-outline-primary btn-sm ms-2"
                        (click)="editarPost(post)">✏️ Editar</button>
                    <button class="btn btn-outline-danger btn-sm ms-2"
                            (click)="eliminarPost(post.id)">🗑️ Eliminar</button>
                  </ng-container>
                
                <div class="tags">
                  <span class="tag" *ngFor="let tag of post.tags">{{ tag }}</span>
                </div>
              </div>
            </div>
          </div>
          <ng-template #sinPosts>
            <p>Este usuario no tiene posts.</p>
          </ng-template>
        </div>
        <div *ngIf="!datosUsuario">
          <p>Cargando...</p>
        </div>

      </div>
    </div>
  </div>
</div>