<div class="container mt-4">
  <div class="form-container w-100 px-4 py-4 mx-auto">   
    <div *ngIf="showAlert" class="custom-alert mb-3">
      <p><strong>localhost:4200 dice</strong><br>{{ alertMessage }}</p>
      <button (click)="showAlert = false">Aceptar</button>
    </div>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <h1>Crear un nuevo Post</h1>

      <!-- Contenido del post -->
      <label for="contenido">Contenido:</label><br>
      <textarea 
        id="contenido" 
        rows="5" 
        cols="40" 
        placeholder="Escribe tu nota aquí..." 
        formControlName="contenido"
        name="contenido"
      ></textarea>
      <div class="alert alert-danger mt-2" *ngIf="contenido?.invalid && contenido?.touched">
                El texto es obligatorio
      </div>
      <br><br>

      <!-- Privacidad -->
      <label for="privado">
        <input 
          type="checkbox" 
          id="privado" 
          formControlName="privado"
        >
        Marcar como privado
      </label>
      <br><br>

      <!-- Recordatorio opcional -->
      <label for="recordatorio">Fecha de recordatorio (opcional):</label><br>
      <input 
        type="datetime-local" 
        id="recordatorio" 
        formControlName="recordatorio"
      >
      <br><br>

      <!-- Selección de fondo -->
      <p>Elige un fondo para tu nota:</p>
      <div class="fondo-option">
        <input type="radio" id="fondo1" value="1" formControlName="fondo">
        <label for="fondo1" style="background-image: url('http://localhost/NotePost/Frontend/src/assets/fondos/fondo1.png');"></label>
        <span>Fondo 1</span>
      </div>
      <div class="fondo-option">
        <input type="radio" id="fondo2" value="2" formControlName="fondo">
        <label for="fondo2" style="background-image: url('http://localhost/NotePost/Frontend/src/assets/fondos/fondo2.png');"></label>
        <span>Fondo 2</span>
      </div>
      <div class="fondo-option">
        <input type="radio" id="fondo3" value="3" formControlName="fondo">
        <label for="fondo3" style="background-image: url('http://localhost/NotePost/Frontend/src/assets/fondos/fondo3.png');"></label>
        <span>Fondo 3</span>
      </div>
      <div class="fondo-option">
        <input type="radio" id="fondo4" value="4" formControlName="fondo">
        <label for="fondo4" style="background-image: url('http://localhost/NotePost/Frontend/src/assets/fondos/fondo4.png');"></label>
        <span>Fondo 4</span>
      </div>
      <br><br>

      <!-- Botón de envío -->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-outline-light fw-bold">CREAR POST</button>
      </div>
    </form>
  </div>
</div>
