<div class="container mt-4">
    <div class="form-container w-100  px-4 py-4 mx-auto">   
        <div *ngIf="showAlert" class="custom-alert mb-3">
          <p><strong>localhost:4200 dice</strong><br>{{ alertMessage }}</p>
          <button (click)="showAlert = false">Aceptar</button>
        </div>

<form  action="../backend/crearPost.php" method="POST" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <h1>Crear un nuevo Post</h1>

  <!-- Formulario para crear un post -->
 
    
    <!-- Contenido del post -->
    <label for="contenido"formControlName="contenido">Contenido:</label><br>
    <textarea 
      name="contenido" 
      id="contenido" 
      rows="5" 
      cols="40" 
      placeholder="Escribe tu nota aquí..." 
      required
    ></textarea>
    <br><br>

    <!-- Privacidad -->
    <label for="privado"formControlName="privado">
      <input type="checkbox" name="privado" id="privado">
      Marcar como privado
    </label>
    <br><br>

    <!-- Recordatorio opcional -->
    <label for="recordatorio"formControlName="recordatorio">Fecha de recordatorio (opcional):</label><br>
    <input 
      type="datetime-local" 
      name="recordatorio" 
      id="recordatorio"
    >
    <br><br>

    <!-- Selección de fondo: mostramos 4 opciones limitadas -->
    <p>Elige un fondo para tu nota:</p>
    <div class="fondo-option">
      <input type="radio" name="fondoId" id="fondo1"formControlName="fondo1" value="1">
      <!-- Ajustar la URL de fondo1.jpg a la ruta real de la imagen -->
      <label for="fondo1" style="background-image: url('../assets/fondos/fondo1.jpg');"></label>
      <span>Fondo 1</span>
    </div>
    <div class="fondo-option">
      <input type="radio" name="fondoId" id="fondo2" formControlName="fondo2"value="2">
      <label for="fondo2" style="background-image: url('../assets/fondos/fondo2.jpg');"></label>
      <span>Fondo 2</span>
    </div>
    <div class="fondo-option">
      <input type="radio" name="fondoId" id="fondo3" formControlName="fondo3"value="3">
      <label for="fondo3" style="background-image: url('../assets/fondos/fondo3.jpg');"></label>
      <span>Fondo 3</span>
    </div>
    <div class="fondo-option">
      <input type="radio" name="fondoId" id="fondo4" formControlName="fondo4"value="4">
      <label for="fondo4" style="background-image: url('../assets/fondos/fondo4.jpg');"></label>
      <span>Fondo 4</span>
    </div>
    <br><br>

    <!-- Botón de envío -->
      <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-light fw-bold" >CREAR POST</button>
          </div>
        
  </form>  
    </div>
</div>    
