<div class="container mt-4">
    <div class="form-container w-100  px-0 py-0 ">   
      <!-- Si NO está logueado -->
       <ng-container *ngIf="!isLoggedIn; else usuarioMenu">
<!-- Mostraria los  Post sin poder interactuar -->
       </ng-container>
       <!-- Si está logueado -->
      <ng-template #usuarioMenu>
  <div class="container-fluid">
      <div class="form-container px-0 py-0 ">   
          <div class="contenedor-derecha">
            <app-barra-lateral></app-barra-lateral>
          </div>
      </ng-template>
    </div>
</div>