<div class="menu-hamburguesa">
  <button (click)="toggleMenu()">

    <div *ngIf="nombre != null">
        <img width="100px" height="100px" src="https://img.pikbest.com/png-images/qianku/default-avatar_2406311.png!w700wp" alt="avatar" />
        <span>{{nombre}}</span>
    </div>
    </button>
    <div *ngIf="menuAbierto" class="menu-desplegable ">
        <ul>
        <li (click)="goToCrearPost()">Crear post</li>
        <li (click)="goToCambiarAvatar()">Cambiar avatar</li>
        <li (click)="goToCambiarPrivacidad()">Cambiar privacidad</li>
        <li (click)="opcionSeleccionada('cerrar')">🚪 Cerrar sesión</li>
        </ul>
    </div>
</div>
