<div class="container">
  <nav class="navbar navbar-expand-lg" style="background-color: #f7941d;">
    <div class="container-fluid align-items-center">
      <!-- Botón de menú hamburguesa -->
      <app-menu-hamburguesa></app-menu-hamburguesa>

      <!-- Nombre de la app -->
      <a class="navbar-brand ms-2" routerLink="/">
        <button class="btn fw-bold text-white fs-3" (click)="goToHome()">NotePost</button>
      </a>

      <!-- Botones + menú usuario alineados a la derecha -->
      <div class="d-flex ms-auto align-items-center">
        <!-- Si NO está logueado -->
        <ng-container *ngIf="!isLoggedIn; else usuarioMenu">
          <button class="btn btn-outline-light fw-bold me-2" (click)="goToCreateUser()">CREAR USUARIO</button>
          <button class="btn btn-outline-light fw-bold me-2" (click)="goToIniciarSesion()">INICIAR SESIÓN</button>
        </ng-container>
        <!-- Si está logueado -->
        <ng-template #usuarioMenu>
            <!-- Foto de usuario y nombre -->
          <app-menu-usuario></app-menu-usuario>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
