<div class="container">
  <nav class="navbar navbar-expand-lg" style="background-color: #f7941d;">
    <div class="container-fluid justify-content-between align-items-center">
      <!-- Botón de menú hamburguesa -->
       <app-menu-hamburguesa></app-menu-hamburguesa>

      <!-- Nombre de la app -->
      <a class="navbar-brand text-white fw-bold fs-3" routerLink="/">
        NotePost
      </a>

      <!-- Botones de la derecha -->
      <div class="d-flex">
        <button class="btn btn-outline-light fw-bold me-2" (click)="goToCreateUser()">CREAR USUARIO</button>
        <button class="btn btn-outline-light fw-bold" (click)="goToIniciarSesion()">INICIAR SESIÓN</button>
      </div>
      
      
    </div>
  </nav>
</div>
