<div class="sidebar">
  <!-- Búsqueda de amigos -->
  <div class="busqueda">
    <input type="text" [(ngModel)]="busqueda" placeholder="Buscar amigo..." />
  </div>

  <!-- Lista de amigos -->
  <div class="amigos">
  <div *ngFor="let amigo of amigosFiltrados()" class="amigo">
    <img [src]="amigo.rutaAvatar" alt="avatar" class="avatar-img" />
    <span>{{ amigo.nick }}</span>
  </div>
</div>

  <!-- ide.component.html -->
<!-- <div *ngFor="let item of ides">
  <h3>{{ item.ide }}</h3>
  <img [src]="item.image" width="200" alt="{{ item.ide }}">
</div> -->

  <!-- Solicitudes de amistad (no muestra logo)-->
  <div class="solicitudes">
    <h6>Solicitudes</h6>
    <li *ngFor="let solicitud of solicitudes">
      {{ solicitud.solicitante }}
        <button class="btn btn-success btn-sm ms-2" (click)="aceptarSolicitud(solicitud)">✔</button>
        <button class="btn btn-danger btn-sm ms-1" (click)="rechazarSolicitud(solicitud)">✖</button>
    </li>
  </div>

  <!-- Calendario -->
  <div class="calendario">
    <app-calendario></app-calendario>
  </div>
</div>
